.process__container {
  height: 500px;
  margin-top: 5%;
  position: relative;
}

.process__heading {
  position: absolute;
  width: 271px;
  height: 59px;
  top: calc(0% - 59px / 2 - 2.18px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 59px;
  letter-spacing: 0.16px;
  color: #232323;
}

.process__container .display__steps {
  display: flex;
  position: absolute;
  top: 20%;
  max-width: 900px;
}

.step {
  margin-left: 10%;
}

.stepImg {
  position: relative;
}

.step__content {
  position: absolute;
  width: 68px;
  height: 24px;
  left: calc(30% - 100px / 2);
  top: calc(40% - 24px / 2 - 58px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: #232323;
}

.step__content2 {
  position: absolute;
  width: 68px;
  height: 24px;
  left: calc(75% - 50px / 2);
  top: calc(40% - 24px / 2 - 58px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: #232323;
}

.step__content3 {
  position: absolute;
  width: 68px;
  height: 24px;
  left: calc(127% - 100px / 2);
  top: calc(40% - 24px / 2 - 58px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: #232323;
}

.step__para {
  position: absolute;
  height: 96px;
  left: 17.35%;
  right: 17.06%;
  top: calc(50% - 96px / 2 + 22px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #606060;
  width: 223px;
}

.step__para2 {
  position: absolute;
  height: 96px;
  left: 64%;
  right: 17.06%;
  top: calc(50% - 96px / 2 + 22px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #606060;
  width: 223px;
}

.step__para3 {
  position: absolute;
  height: 96px;
  left: 112%;
  right: 17.06%;
  top: calc(50% - 96px / 2 + 22px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #606060;
  width: 223px;
}
